mixin category()
    main.category  
        .container
            .category-left 
                .card__header 
                    span Мобильные телефоны
                    h1 Мобильные телефоны
                    ul.category__nav
                        li 
                            a(href="#") Смартфоны 
                        li 
                            a(href="#") Honor 
                        li 
                            a(href="#") Artel 
                        li 
                            a(href="#") Samsung 
                        li 
                            a(href="#") Iphone 
                        li 
                            a(href="#") Redmi 
                        li 
                            a(href="#") Vivo 
                        li 
                            a(href="#") Nokia 
                        li 
                            a(href="#") Huawei 
                        li 
                            a(href="#") Realmi 
                        li 
                            a(href="#") Inoi 
                        li 
                            a(href="#") OPPO 
                        li 
                            a(href="#") BQ
                        li 
                            a(href="#") Nobby 
                .card__body 
                    .card__filter 
                        .card__filter-sort 
                            select(name="sort")
                                option(value="popularity") По популярности
                                option(value="priceUp") По возрастанию цены
                                option(value="priceDown") По убыванию цены
                        a.card__filter-btn
                            span Фильтры
                            img(src="img/filter.svg" alt="filter")
                    ul.card__list
                        li 
                            .card__list-img 
                                img(src="./img/telefon.webp" alt="tel")
                            .card__list-info 
                                a(href="#").phone Смартфон Xiaomi Redmi Note 11 Pro 8/128GB 
                                a.rating 
                                    .rating__star 
                                        img(src="./img/star-solid.svg" alt="star")
                                        img(src="./img/star-solid.svg" alt="star")
                                        img(src="./img/star-solid.svg" alt="star")
                                        img(src="./img/star-solid.svg" alt="star")
                                        img(src="./img/star-solid.svg" alt="star")
                                    .rating__review 5 отзывов
                                a.views
                                    small 37 тыс. просмотров
                                .price 
                                    p От 3 249 000 сум
                                .offers 
                                    span 33 предложения
                                .service
                                    a(href="#") Есть кредит
                                    a(href="#") Есть доставка
                        li 
                            .card__list-img 
                                img(src="./img/telefon.webp" alt="tel")
                            .card__list-info 
                                a(href="#").phone Смартфон Xiaomi Redmi Note 11 Pro 8/128GB 
                                a.rating 
                                    .rating__star 
                                        img(src="./img/star-solid.svg" alt="star")
                                        img(src="./img/star-solid.svg" alt="star")
                                        img(src="./img/star-solid.svg" alt="star")
                                        img(src="./img/star-solid.svg" alt="star")
                                        img(src="./img/star-solid.svg" alt="star")
                                    .rating__review 5 отзывов
                                a.views
                                    small 37 тыс. просмотров
                                .price 
                                    p От 3 249 000 сум
                                .offers 
                                    span 33 предложения
                                .service
                                    a(href="#") Есть кредит
                                    a(href="#") Есть доставка
                        li 
                            .card__list-img 
                                img(src="./img/telefon.webp" alt="tel")
                            .card__list-info 
                                a(href="#").phone Смартфон Xiaomi Redmi Note 11 Pro 8/128GB 
                                a.rating 
                                    .rating__star 
                                        img(src="./img/star-solid.svg" alt="star")
                                        img(src="./img/star-solid.svg" alt="star")
                                        img(src="./img/star-solid.svg" alt="star")
                                        img(src="./img/star-solid.svg" alt="star")
                                        img(src="./img/star-solid.svg" alt="star")
                                    .rating__review 5 отзывов
                                a.views
                                    small 37 тыс. просмотров
                                .price 
                                    p От 3 249 000 сум
                                .offers 
                                    span 33 предложения
                                .service
                                    a(href="#") Есть кредит
                                    a(href="#") Есть доставка
                        li 
                            .card__list-img 
                                img(src="./img/telefon.webp" alt="tel")
                            .card__list-info 
                                a(href="#").phone Смартфон Xiaomi Redmi Note 11 Pro 8/128GB 
                                a.rating 
                                    .rating__star 
                                        img(src="./img/star-solid.svg" alt="star")
                                        img(src="./img/star-solid.svg" alt="star")
                                        img(src="./img/star-solid.svg" alt="star")
                                        img(src="./img/star-solid.svg" alt="star")
                                        img(src="./img/star-solid.svg" alt="star")
                                    .rating__review 5 отзывов
                                a.views
                                    small 37 тыс. просмотров
                                .price 
                                    p От 3 249 000 сум
                                .offers 
                                    span 33 предложения
                                .service
                                    a(href="#") Есть кредит
                                    a(href="#") Есть доставка
            .category-right  

