// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Rubik', sans-serif;
    caret-color: transparent;
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    overflow-x: hidden;
    min-width: 340px;
}
:root{
    --primary-bg-color: #ffffff;
    --primary-text-color: #383838;
    --border-color: #d6d3d3;
    --body-color: #f2f2f2;
    --primary-blue: #58a6ff;
}
.main{
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    &-left{
        width: calc(100% - 300px);
        display: flex;
        flex-direction: column;
    }
    &-right{
        width: 300px;
        display: flex;
        flex-direction: column;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}